name: CI

on:
  push:
    branches:
      - main
  workflow_dispatch:
  release:
    types: [published]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.12.7'

    - name: Install Required Packages
      run: |
        pip install -r requirements.txt

    - name: Build Executable
      run: |
        pyinstaller --noconfirm --onedir --windowed --add-data "data;data" --name DeptMemberManager main.py

    - name: Upload Artifacts
      uses: actions/upload-artifact@v6
      with:
        name: DeptMemberManager
        path: dist/DeptMemberManager